  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
  }



.logo {
width: 30px;
height: 30px;
border-radius: 50%;
margin-right: 10px;
}


  h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    font-size: 32px;
  }

  /* Main styles */
  main {
    background-image: url("/assets/images/back.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Great vibes', cursive;
  }

  p {
    font-size: 24px;
  }



  /* Button styles */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c84d10;
    color: #ede4e4;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #FFA000;
  }

  /* Menu Styles */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }

  .drink-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 690px;
  }

  .drink-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .drink-card h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .drink-card p {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
  }




  .drink-card img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }
  footer {
    background-color: #0b0b0b;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
  }

  footer p {
    margin: 0;
    font-size: 16px;
  }

  footer a {
    color: #fff;
    text-decoration: none;

  }

  .footera{
    font-family: 'Pacifico', cursive;
  }

  /* Contact section styles */
  .contact-section {
    margin-top: 20px;
  }

  .contact-section p {
    margin: 5px 0;
    font-size: 16px;
  }

  .contact-section a {
    color: #fff;
    text-decoration: none;
  }


  h1 {
    margin: 0;
  }

  nav {
    margin-left: auto;
  }

  .menu {
    list-style: none; /* Remove the list dots */
    display: flex;
  }

  .menu li:not(:last-child) {
    margin-right: 15px; /* Adjust the spacing between menu items */
  }

  .menu li {
    color: white;
    text-decoration: none;
  }

  .menu li a {
    color: white;
    text-decoration: none;
    font-family: consolas;
    font-weight: bolder;
  }


    h1 {
      font-size: 24px; /* Adjust the font size as needed */
      order: 1;
      margin-bottom: 10px; /* Add some spacing below the heading */
      text-align: center;
      width: 100%;

      /* Expand the heading width on mobile */
    }

    nav {
      order: 2;
      margin: 0;
    }

    .menu {
      order: 3;
      justify-content: center;
    }

    .menu li {
      margin: 5px;
    }
  }


  .logo-wrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 10px; /* Adjust the margin as needed */
  }



 #leaves{
  position:absolute;
  top: 15%;
  right: -15%;
 }

 .menu li a{
  padding: 2px;
  background-color: white;
  color: green;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
 }
